# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Plataformas generadas en CI (se crean con `flutter create`)
android/
ios/
linux/
macos/
windows/
web/

# IDE
.idea/
*.iml
.vscode/
